---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>


		<h1>About me</h1>
        <h2>.. and my new Astro Site</h2>

        <p> 
            I am learning Astro with this tutorial on how to build a blog.<br/>
            This is the first page I am building myself and so far I am very excited.
        </p>
        
	</body>
</html>
